
<!DOCTYPE html>

<html>

 <head>

<link rel="stylesheet" href="styles.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

 </head>
<style>

 body {
    text-align: left;
    background: burlywood;
    color: cadetblue;
    font-family: Georgia;
    }


 h1 {
    text-align: center;
    color: cadetblue;
    font-family: Georgia;
   

}

 h2 {
    text-align: left;
    color: black;
    font-family: Georgia;
    padding:4.5px;
    margin:4px;
}

 div  {
    text-align: center;
}

 ul  {
    text-align: left;
}

 li {

    text-align: left;
    color: black;
    font-family: Georgia;
}

 ul  {
    text-align: left;
}


</style>


<body> 

<header> 

<img src="/assets/jeff.png">

<h1>"INDEX PAGE"</h1>


<h2>Contents</h2>

<ul>
<li><a href="https://glacial-tor-8525.herokuapp.com/">"Portfolio"</a> </li>

<li><a href="#">"Other achievments"</a> </li>

<li><a href="#">"More content"</a> </li>
</ul>

</header>

</body>





