<p> <button style="color:black">Name</button><%= martial_art.name %><input type="text" placeholder="please type" style="color:black"> </p>
	<p><button style="color:black">Description</button><%= martial_art.description %><input type="text" placeholder="please type" style="color:black"> </p>
	<hr>
