<!DOCTYPE HTML>

<style>

h1 {

    text-align: center;
    color: white;
    font-family: Georgia;
    border:1px solid black;

}

</style>


<h1> Add the new Martial Arts information below </h1>

<%= render partial: 'martial_art', locals: { a_martial_art: @martial_art } %>

<p>
	<%= link_to 'home' , home_path %>
</p>