<!DOCTYPE HTML>

<style>

h1 {
    text-align: center;
    color: green;
    font-family: Georgia;
    border:1px solid black;

}

</style>


<h1> Add a new Martial Art </h1>

<%= render partial: 'martial_art', locals: { martial_art: @martial_art } %>