<!DOCTYPE html>

<h1>Brazilian Jui Jitsu Thread</h1>

<p>To add your Brazilian Jui Jitsu wisdom, please join the discussion</p>

<%= link_to 'blog new', blog_path   %>
<% @blogs.each do |blog|  %>

  <%= render partial: 'blog', locals: { blog: @blog }  %>
  
<% end %>

