<%= if @martial_art.errors.any? %>

<ol>
	<% @martial_art.errors.full_messages.each do |messages| %>
	 <li><%= 'sorry there was a fault with your selection' %></li>
	 <% end %>>
 		</ol>

 <% end %>

<% else %>

<%= render partial: 'martial_art', locals: { a_martial_art: @martial_art } %>


