<!DOCTYPE html>

<h1>Discover which Martial Art is more suitable for you and your children</h1>

<p>Genuine Martial Arts information</p>

<p>Please choose a Martial Art from the following list</p>

<style>

  body {
    text-align: left;
    background: black;
    color: white;
    font-family: helvetica;
    }
    
  </style>

	<p>
		<%= link_to 'Karate', karate_path %>
	</p>

  <li><a href="http://en.wikipedia.org/wiki/Karate">Karate</a></li>
  
</ul>

<div>

<form action="/search" >
<input name="query" type="text" />
<button>Enter</button>
</form>

</div>

<p>
	<%= link_to 'Add a New Martial Art', martial_art_path %>
</p>

	<% @martial_arts.each do |martial_art| %>

	<%= render partial: 'martial_art', locals: { a_martial_art: martial_art } %>

<% end %>