
<h1>Discover which Martial Art is more suitable for you and your children</h1>

<p>Genuine Martial Arts information</p>

<div>

<form action="/search" >
<input name="query" type="text" />
<button>Enter</button>
</form>

</div>

<p>Please choose a Martial Art from the following list</p>

<ul>
	<li>Karate</li>
	<li>Kung Fu</li>
	<li>Judo</li>
	<li>Tia chi</li>
	<li>Taekwondo</li>
	<li>Aikido</li>
	<li>Krav Maga</li>
	<li>Jui-Jitsu</li>
	<li>Brazilian Jui-Jitsu</li>
	<li>Tang Soo Do</li>
	<li>Muay Thai</li>
</ul>
