<p>The application which lets you get genuine Martial Arts information</p>

<h2>Which Martial Art is suitable for you and your children?</h2>

<p>Please choose a Martial Art from the following list</p>

<ul>
	<li>Karate</li>
	<li>Kung Fu</li>
	<li>Judo</li>
	<li>Tia chi</li>
	<li>Taekwondo</li>
	<li>Aikido</li>
	<li>Krav Maga</li>
	<li>Jui-Jitsu</li>
	<li>Brazilian Jui-Jitsu</li>
	<li>Tang Soo Do</li>
	<li>Muay Thai</li>
</ul>
