<!DOCTYPE html>
<h1>Discover which Martial Art is more suitable for you and your children</h1>

<p>Genuine Martial Arts information</p>

<p>Please choose a Martial Art from the following list</p>

<ul>
	<li>Karate</li><a href="https://dub113.mail.live.com">
	<li>Kung Fu</li>
	<li>Judo</li>
	<li>Tia chi</li>
	<li>Taekwondo</li>
	<li>Aikido</li>
	<li>Krav Maga</li>
	<li>Jui-Jitsu</li>
	<li>Brazilian Jui-Jitsu</li>
	<li>Tang Soo Do</li>
	<li>Muay Thai</li>
</ul>

<div>

<form action="/search" >
<input name="query" type="text" />
<button>Enter</button>
</form>

</div>

<p>
	<%= link_to 'Add a New Martial Art', create_path %>
</p>

	<% @martial_arts.each do |martial_art| %>

	<%= render partial: 'martial_art', locals: { a_martial_art: martial_art } %>

<% end %>