DOCTYPE! html

<h1>MartialArts_knowhow</h1>
<br></br>
<p>The application which lets you get genuine Martial Arts information</p>
<br></br>
<h2>Which Martial Art is suitable for you and your children?</h2>
<br></br>
<p>Please choose a Martial Art from the following list</p>
<br></br>
<ul>
Karate
Kung Fu
Judo
Tia chi
Taekwondo
Aikido
Krav Maga
Jui-Jitsu
Brazilian Jui-Jitsu
Tang Soo Do
Muay Thai
</ul>