<!DOCTYPE html>

<style>

h1 {
  
    text-align: center;
    color: white;
    font-family: Georgia;
    

}

p  {
    text-align: left;
    font-family: Georgia;
    padding:11px;
    margin: 11px;
}


</style>


<h1>Karate Thread</h1>

<p>To add your Karate wisdom, please join the discussion</p>


