<!DOCTYPE html>

<h1>Muay Thia Thread</h1>

<p>To add your Muay Thia wisdom, please join the discussion</p>

<%= link_to 'blog new', ads_path   %>
<% @blogs.each do |ad|  %>

  <%= render partial: 'blog', locals: { blog: blog }  %>
  
<% end %>

