<!DOCTYPE html>

<h1>Muay Thia Thread</h1>

<p>To add your Muay Thia wisdom, please join the discussion</p>

<%= link_to 'blog new', blog_path   %>
<% @blogs.each do |blog|  %>

  <%= render partial: 'blog', locals: { blog: @blog }  %>
  
<% end %>

