<!DOCTYPE html>

<style>

h1 {
    text-align: center;
    color: white;
    font-family: Georgia;
    border:1px solid black;

}

</style>

<h1> Enter your disscusion below </h1>

<%= render partial: 'blog', locals: { blog: @blog } %>

