<!DOCTYPE html>

<style>

h1 {
  
    text-align: center;
    color: black;
    font-family: Georgia;
    border:3px solid black;
    padding:11px;

}


</style>

<h1> Enter your disscusion below </h1>

<%= render partial: 'blog', locals: { blog: @blog } %>

