<!DOCTYPE html>

<h1>
	Your search generated the following result
</h1>

<p>

 <%= @search %>

</p>

<% if @no_results %>
<h1> THE MARTIAL ART YOU ENTERED WAS NOT FOUND</h1>

<% else %>

<p>Here's the Martial Art you have requested</p>

<%= render partial: 'martial_art', locals: { martial_art: @martial_art } %>

<% end %>


<% end %>
