<!DOCTYPE html>

<h1>Taekwondo Thread</h1>

<p>To add your Taekwondo wisdom, please join the discussion</p>

<%= link_to 'blog new', blog_path   %>
<% @blogs.each do |blog|  %>

  <%= render partial: 'blog', locals: { blog: blog }  %>
  
<% end %>

